SECRET_GROQ_KEY=your_groq_key
TAVILY_API_KEY=your_tavily_key
MONGODB_URI=your_mongodb_uri
MONGODB_DB_NAME=hervex
REDIS_URL=redis://localhost:6379/0
APP_ENV=development
PINECONE_API_KEY=your_pinecone_key
PINECONE_INDEX_NAME=
OPENAI_API_KEY=your_openai_key
